<!DOCTYPE css>

h1{
  background-color: #dcdcdc;
  padding: 30%;
  text-align: center;
}
section{
  background-color: #666;
  float: left;
  padding: 10%;
  margin: 20px;
  text-align: center;
}
article{
  background-image: url("images/background.jpg");
  clear: left;
  padding: 10%;
  margin: 20px;
  text-align: center;
}
aside{
  background-color: #665;
  float:right;
  length: 100%;
  padding: 10%;
  margin: 20px;
  text-align: center;
}
table{
  width: 100%
}
table{
  background-color: #a0a0a0;}
